.page-container {
  section {
    margin-bottom: 30px;

    .section-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;

      h2 {
        margin: 0;
        color: #000000;

        span {
          margin-left: 10px;
          color: #6c63ff;
          cursor: pointer;

          &[disabled] {
            opacity: 0.5;
            cursor: no-drop;
          }
        }
      }

      a {
        color: #6c63ff;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .card {
      border: 1px solid #cecece;
      background-color: #f9f9f9;
      border-radius: 10px;

      .details-section {
        .prop {
          h5.prop-key {
            margin-bottom: 0;
            color: #8898aa;
          }

          h4.prop-value {
            color: #0a0a0a;
          }

          a.prop-value {
            font-size: 15px;
            color: #6c63ff;
            cursor: pointer;

            &.disabled-link {
              cursor: no-drop;
            }
          }
        }
      }
    }

    .cards-container {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;

      .card-element {
        list-style: none;
        border: 1px solid #e8e8e8;
        border-radius: 15px;
        margin-bottom: 0;
        overflow: hidden;

        .card-element-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          padding: 10px 15px;
          background-color: #fff;

          h6 {
            color: #0a0a0a;
            font-size: 15px;
            font-weight: bold;
            margin: 0;
          }

          span {
            margin: 0;
            color: #6c63ff;
            font-size: 13px;
            cursor: pointer;
          }
        }

        .divider {
          height: 1px;
          background-color: #eaeaea;
          margin: 0;
        }

        .card-element-body {
          padding: 10px 15px;

          .row {
            margin-bottom: 10px;

            .prop {
              .prop-key {
                color: #8898aa;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 0;
              }

              .prop-value {
                color: #0a0a0a;
                font-size: 13px;
                font-weight: 600;
                line-height: 1.25em;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-container {
    section {
      .cards-container {
        grid-template-columns: 1fr;
      }
    }
  }
}
