<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <a class="back-btn d-inline-block mb-4" [routerLink]="['']">
        <i class="fa fa-arrow-left"></i>
        Back to Home
      </a>
      <div class="table-title mb-1">
        <h3 class="title mb-0">Add a Patient Visit</h3>
        <search
          placeholder="Patient name or mobile number"
          (search)="searchPatient($event)"
        ></search>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 0px">
  <div class="card">
    <div class="card-body">
      <h3 class="title mb-0">Recent Visits</h3>
      <ng-container *ngIf="showTable">
        <ngx-datatable
          class="material ngx-datatable-custom mt-3"
          [rows]="patientListItems"
          [columns]="columns"
          [limit]="pageSize"
          [offset]="currentPage - 1"
          columnMode="force"
          externalPaging="true"
          [count]="totalItems"
          [messages]="messages"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          (page)="onChangePage($event)"
        >
          <ng-template
            let-row="row"
            #ehrButtonTemplateRef
            ngx-datatable-row-detail-template
            style="height: 50px"
          >
            <span
              class="bi bi-three-dots"
              style="cursor: pointer"
              (click)="showPopUp($event, row)"
              >...</span
            >
          </ng-template>
        </ngx-datatable>
      </ng-container>

      <div class="patient-container mt-3" *ngIf="!showTable&&!showCard">
        <div class="card" *ngFor="let patient of searchedPatient">
          <div class="card-body card-container">
            <div class="inner-container">
              <div class="patient-avatar"></div>
              <div class="patient-data">
                <p>patient name</p>
                {{ patient.patientName}}
              </div>
            </div>
            <div class="patient-data">
              <p>patient number</p>
              {{ patient.patientPhone }}
            </div>
            <div class="inner-container">
              <a
                class="btn btn-psp-primary btn-new-visit btn-block"
                style="background-color: white; color: navy"
                [routerLink]="['lastvisit',patient.patientId]"
              >
                last visit
              </a>
              <a
                class="btn btn-psp-primary btn-new-visit btn-block"
                [routerLink]="['addvisit', patient.patientName]"
                style="margin: 0"
              >
                new Visit
              </a>
            </div>
          </div>
        </div>
        
      </div>
     
        <div *ngIf="showCard" class="empty-patient-list">
          <svg
            width="78"
            height="93"
            viewBox="0 0 78 93"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.9">
              <path
                d="M39.3631 68.3992H34.8203V69.9192H39.3631V68.3992Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.2378 68.5254H32.4889V69.6129H28.1543V65.262H29.2378V68.5254Z"
                fill="#8898AA"
              />
              <path
                d="M45.4198 68.3992H40.877V69.9192H45.4198V68.3992Z"
                fill="#8898AA"
              />
              <path
                d="M52.2342 68.3992H47.6914V69.9192H52.2342V68.3992Z"
                fill="#8898AA"
              />
              <path
                d="M58.2915 68.3992H54.5059V69.9192H58.2915V68.3992Z"
                fill="#8898AA"
              />
              <path
                d="M65.1053 68.3992H60.5625V69.9192H65.1053V68.3992Z"
                fill="#8898AA"
              />
              <path
                d="M71.1626 68.3992H67.377V69.9192H71.1626V68.3992Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.9172 68.5254H73.666V69.6129H78.0006V65.262H76.9172V68.5254Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 63.0868V58.7358H77.9995V63.0868H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 56.5609V52.21H77.9995V56.5609H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 50.0348V45.6838H77.9995V50.0348H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 43.5079V39.157H77.9995V43.5079H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 36.9818V32.6309H77.9995V36.9818H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 30.4559V26.105H77.9995V30.4559H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 23.9298V19.5789H77.9995V23.9298H76.916Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.916 17.403V13.052H77.9995V17.403H76.916Z"
                fill="#8898AA"
              />
              <path
                d="M77.9764 9.87988H73.4336V10.6399H77.9764V9.87988Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M68.2475 9.78952H71.4987V10.8771H67.1641V6.52612H68.2475V9.78952Z"
                fill="#8898AA"
              />
              <path d="M68.1341 0H67.377V4.55995H68.1341V0Z" fill="#8898AA" />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 63.0868V58.7358H29.2378V63.0868H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 56.5609V52.21H29.2378V56.5609H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 50.0348V45.6838H29.2378V50.0348H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 43.5079V39.157H29.2378V43.5079H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 36.9818V32.6309H29.2378V36.9818H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 30.4559V26.105H29.2378V30.4559H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 23.9298V19.5789H29.2378V23.9298H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1543 17.403V13.052H29.2378V17.403H28.1543Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.1527 6.52612H29.2361V10.8421L29.2452 10.8778L25.0393 11.9304L24.7773 10.8748L28.1527 10.0297V6.52612Z"
                fill="#8898AA"
              />
              <path d="M39.3631 0H34.8203V0.759991H39.3631V0Z" fill="#8898AA" />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.6964 0H28.1543V4.35095H29.2378V1.08755H32.4889V0H28.6964Z"
                fill="#8898AA"
              />
              <path d="M45.4198 0H40.877V0.759991H45.4198V0Z" fill="#8898AA" />
              <path d="M52.2342 0H47.6914V0.759991H52.2342V0Z" fill="#8898AA" />
              <path d="M58.2915 0H54.5059V0.759991H58.2915V0Z" fill="#8898AA" />
              <path d="M65.1053 0H60.5625V0.759991H65.1053V0Z" fill="#8898AA" />
              <path
                d="M41.6182 86.9325L37.791 88.9751L38.2997 89.9353L42.1269 87.8927L41.6182 86.9325Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M33.0064 91.5293L35.877 89.9972L36.3856 90.9575L32.5584 93.0001L30.5234 89.1584L31.4801 88.6479L33.0064 91.5293Z"
                fill="#8898AA"
              />
              <path
                d="M47.3585 83.869L43.5312 85.9116L44.0399 86.8719L47.8671 84.8292L47.3585 83.869Z"
                fill="#8898AA"
              />
              <path
                d="M53.0987 80.8048L49.2715 82.8474L49.7801 83.8077L53.6074 81.765L53.0987 80.8048Z"
                fill="#8898AA"
              />
              <path
                d="M58.8389 77.7413L55.0117 79.7839L55.5204 80.7442L59.3476 78.7015L58.8389 77.7413Z"
                fill="#8898AA"
              />
              <path
                d="M64.5811 74.6776L60.7539 76.7202L61.2626 77.6805L65.0898 75.6378L64.5811 74.6776Z"
                fill="#8898AA"
              />
              <path
                d="M70.3214 71.6134L66.4941 73.656L67.0028 74.6163L70.83 72.5736L70.3214 71.6134Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.5057 87.2377L27.4707 83.396L28.4273 82.8854L30.4623 86.7271L29.5057 87.2377Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M26.4549 81.4755L24.4199 77.6338L25.3766 77.1232L27.4115 80.9649L26.4549 81.4755Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.4022 75.7132L21.3672 71.8716L22.3238 71.361L24.3588 75.2027L23.4022 75.7132Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.3494 69.9503L18.3145 66.1086L19.2711 65.5981L21.3061 69.4397L20.3494 69.9503Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.2967 64.1881L15.2617 60.3464L16.2184 59.8359L18.2533 63.6775L17.2967 64.1881Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14.244 58.4256L12.209 54.584L13.1656 54.0734L15.2006 57.9151L14.244 58.4256Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.1912 52.6634L9.15625 48.8218L10.1129 48.3112L12.1479 52.1529L11.1912 52.6634Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.14044 46.9012L6.10547 43.0596L7.06211 42.549L9.09708 46.3907L8.14044 46.9012Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.0877 41.139L3.05273 37.2974L4.00937 36.7868L6.04434 40.6284L5.0877 41.139Z"
                fill="#8898AA"
              />
              <path
                d="M9.56745 26.4281L5.74023 28.4707L6.24889 29.431L10.0761 27.3883L9.56745 26.4281Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.478653 31.2797L0 31.5352L2.03497 35.3768L2.99161 34.8662L1.46529 31.9848L4.33587 30.4528L3.82722 29.4925L0.478653 31.2797Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14.5756 23.7551L11.4805 25.4065L11.9893 26.3672L15.8052 24.3304L15.8332 24.3236L14.7846 20.1018L13.7329 20.3648L14.5756 23.7551Z"
                fill="#8898AA"
              />
              <path
                d="M39.1902 77.8915L34.9844 78.9441L35.2465 79.9993L39.4523 78.9467L39.1902 77.8915Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.7284 80.2605L32.883 79.4711L33.1451 80.5263L28.9393 81.5789L27.8906 77.3572L28.9419 77.0941L29.7284 80.2605Z"
                fill="#8898AA"
              />
              <path
                d="M45.5008 76.3129L41.2949 77.3655L41.557 78.4207L45.7629 77.3681L45.5008 76.3129Z"
                fill="#8898AA"
              />
              <path
                d="M51.8094 74.7338L47.6035 75.7864L47.8656 76.8416L52.0715 75.789L51.8094 74.7338Z"
                fill="#8898AA"
              />
              <path
                d="M58.116 73.1552L53.9102 74.2078L54.1723 75.263L58.3781 74.2104L58.116 73.1552Z"
                fill="#8898AA"
              />
              <path
                d="M64.4246 71.5768L60.2188 72.6294L60.4809 73.6846L64.6867 72.632L64.4246 71.5768Z"
                fill="#8898AA"
              />
              <path
                d="M70.7332 69.9975L66.5273 71.05L66.7895 72.1053L70.9953 71.0527L70.7332 69.9975Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M27.365 75.2459L26.3164 71.0242L27.3677 70.7611L28.4163 74.9828L27.365 75.2459Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25.7928 68.9136L24.7441 64.6919L25.7954 64.4288L26.8441 68.6505L25.7928 68.9136Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.2205 62.5813L23.1719 58.3596L24.2232 58.0965L25.2718 62.3182L24.2205 62.5813Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22.6482 56.249L21.5996 52.0273L22.6509 51.7642L23.6995 55.9859L22.6482 56.249Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21.074 49.917L20.0254 45.6953L21.0767 45.4322L22.1253 49.6539L21.074 49.917Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.5018 43.5847L18.4531 39.363L19.5044 39.0999L20.553 43.3216L19.5018 43.5847Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.9275 37.2517L16.8789 33.03L17.9302 32.7669L18.9788 36.9886L17.9275 37.2517Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.3553 30.9195L15.3066 26.6978L16.3579 26.4347L17.4066 30.6564L16.3553 30.9195Z"
                fill="#8898AA"
              />
              <path
                d="M22.6746 11.4013L18.4688 12.4539L18.7309 13.5091L22.9367 12.4565L22.6746 11.4013Z"
                fill="#8898AA"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.6862 13.9016L12.1602 14.0332L13.2088 18.2549L14.2601 17.9918L13.4735 14.8253L16.6281 14.0359L16.366 12.9806L12.6862 13.9016Z"
                fill="#8898AA"
              />
            </g>
          </svg>

          <h3>Sorry! we couldn't find this patient</h3>
          <p>
            this patient doesn't have an account on the system . you can create
            an account for him to register his visit
          </p>
          <a
            class="btn btn-psp-primary btn-new-visit btn-block"
            style="margin: 0; color: white; margin: 20px"
            [routerLink]="['addvisit', '']"
          >
            New Visit
          </a>
        </div>
    </div>
  </div>
</div>
