.floatinSM {
  position: absolute;
  top: 0px;
  left: 750px;
  width: 150px;
  height: 200px;
  background-color: grey;
  border-radius: 25px;
  padding: 20px;
  overflow: auto;
  z-index: 1000;
}
.patient-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: grey;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.patient-data {
  margin-left: 10px;
}
.patient-data p {
  margin: 0;
}
.btn-new-visit {
  border-radius: 50px;
  // padding-left: 2rem !important;
  // padding-right: 2rem !important;
  padding: 0.8rem 2rem !important;
  width: fit-content;
}
.empty-patient-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 235, 235);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    padding: 25px;
}.empty-patient-list p{
    margin: 0;
    width: 40%;
    display: flex;
    text-align: center;
}
.inner-container{
  display: flex;
  flex-direction: row;

}



