.floatinSM{
    position: absolute;
    top: 0px;
    left: 750px;
    width: 150px;
    height: 200px;
    background-color: grey;
    border-radius: 25px;
    padding: 20px;
    overflow: auto;
    z-index: 1000;
}