<!-- <p-overlayPanel #op>
    <div class="card">
      <div class="card-body">
        <div class="table-title mb-1">
          <h3 class="title mb-0">Revisit</h3>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Patient Information</h4>
        </div>
        <div class="userInfo">
          <div>
            Name
            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              value="Osama"
              disabled
            />
          </div>

          Phone Number
          <div class="phoneInfo">
            <p-dropdown
              [options]="countries"
              [(ngModel)]="selectedCountry"
            ></p-dropdown>
            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              value="1278945632"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </p-overlayPanel> -->