<form [formGroup]="userForm">
  <div class="container-fluid con-parent">
    <div class="card">
      <div class="card-body">
        <div class="table-title mb-1">
          <h3 class="title mb-0">{{ data }}</h3>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Patient Information</h4>
        </div>
        <div class="container">
          <span>
            <p>patient name</p>

            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              formControlName="fullName"
              
            />
          </span>
          <span>
            <p>Phone Number</p>
            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              formControlName="phone"
              
            />
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Visit Information</h4>
        </div>
        <div class="container">
          <span>
            <p>visit type</p>
            <p-dropdown
              [options]="visitType"
              formControlName="visitType"
              id="visitType"
              name="visitType"
              optionLabel="label"
            >
              <ng-template let-option pTemplate="selectedItem">
                {{ option.label }} <i class="fa fa-angle-down"></i>
              </ng-template>
            </p-dropdown>
          </span>
          <span>
            <p>visit date</p>
            <!-- <p-calendar formControlName="selectedDate" ></p-calendar> -->
            <p-calendar
              formControlName="date"
              [showIcon]="true"
              icon="fa-clock"
              aria-label="Date"
              date-format=" M/d/yy"
              [showTime]="true"
              placeholder="select date"
            >
            </p-calendar>
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Insurance Information</h4>
        </div>
        <!-- <div class="container">
          <span>
            <p>Patient type</p>
            <button class="btn btn-primary">insured</button>
            <button class="btn btn-outline-primary">
              uninsured
            </button>
          </span>
        </div> -->
        <div class="container">
          <span>
            <p>Patient type</p>
            <button
              class="btn"
              [class.btn-primary]="overlayForm.get('isPatientInsured').value"
              [class.btn-outline-primary]="
                !overlayForm.get('isPatientInsured').value
              "
              (click)="updatePatientType(true, $event)"
            >
              insured
            </button>
            <button
              class="btn"
              [class.btn-primary]="!overlayForm.get('isPatientInsured').value"
              [class.btn-outline-primary]="
                overlayForm.get('isPatientInsured').value
              "
              (click)="updatePatientType(false, $event)"
            >
              uninsured
            </button>
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Amount Details</h4>
        </div>
        <div class="container">
          <span>
            <p>Money recieved</p>
            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              placeholder="ex:100 le"
              formControlName="moneyReceived"
            />
          </span>
          <span>
            <p>Discount applied</p>
            <button
              class="btn btn-primary"
              [class.btn-primary]="overlayForm.get('isDiscountApplied').value"
              [class.btn-outline-primary]="
                !overlayForm.get('isDiscountApplied').value
              "
              (click)="updateDiscountStatus(true, $event)"
            >
              yes
            </button>
            <button
              class="btn btn-outline-primary"
              [class.btn-primary]="!overlayForm.get('isDiscountApplied').value"
              [class.btn-outline-primary]="
                overlayForm.get('isDiscountApplied').value
              "
              (click)="updateDiscountStatus(false, $event)"
            >
              no
            </button>
          </span>
        </div>
        <div class="d-flex justify-content-end">
          <a
            class="btn btn-psp-primary btn-new-visit"
            style="background-color: white; color: navy"
          >
            cancel
          </a>
          <a
            class="btn btn-psp-primary btn-new-visit"
            style="color: white"
            (click)="addPatientVisit()"
          >
            submit
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
