<div class="main-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 py-5">
        <h1 class="text-center text-white">Change Password</h1>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary">
          <div class="card-body">
            <form
              [formGroup]="changePasswordForm"
              (ngSubmit)="onChangePasswordSubmit()"
            >
              <div
                class="form-group"
                [ngClass]="{ focused: passwordFocus === true }"
              >
                <label for="password">New Password</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="New Password"
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    name="password"
                    id="password"
                    minlength="6"
                    formControlName="password"
                    (focus)="passwordFocus = true; confirmPasswordFocus= false"
                    (blur)="passwordFocus = false"
                  />
                  <span
                    class="btn-icon input-icon"
                    [class.visible]="isPasswordVisible"
                    [class.disabled]="
                      !changePasswordForm.value.password?.length
                    "
                    (click)="onTogglePassword()"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  *ngIf="
                    (changePasswordForm.controls.password.touched ||
                      changePasswordForm.controls.password.dirty) &&
                    changePasswordForm.controls.password.invalid
                  "
                  class="input-errors"
                >
                  <p
                    *ngIf="changePasswordForm.controls.password.errors.required"
                  >
                    This field is required!
                  </p>
                  <p
                    *ngIf="
                      changePasswordForm.controls.password.errors.minlength
                    "
                  >
                    This field must not be less than 6 characters!
                  </p>
                </div>
              </div>
              <div
                class="form-group"
                [ngClass]="{ focused: confirmPasswordFocus === true }"
              >
                <label for="confirmPassword">Re-enter Your New Password</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="Confirm Password"
                    [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                    name="confirmPassword"
                    id="confirmPassword"
                    minlength="6"
                    formControlName="confirmPassword"
                    (focus)="confirmPasswordFocus = true"
                    (blur)="confirmPasswordFocus = false"
                  />
                  <span
                    class="input-icon"
                    [class.visible]="isConfirmPasswordVisible"
                    [class.disabled]="
                      !changePasswordForm.value.confirmPassword?.length
                    "
                    (click)="onToggleConfirmPassword()"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  *ngIf="
                    (changePasswordForm.controls.confirmPassword.touched ||
                      changePasswordForm.controls.confirmPassword.dirty) &&
                    changePasswordForm.controls.confirmPassword.invalid
                  "
                  class="input-errors"
                >
                  <p
                    *ngIf="
                      changePasswordForm.controls.confirmPassword.errors
                        .required
                    "
                  >
                    This field is required!
                  </p>
                  <p
                    *ngIf="
                      changePasswordForm.controls.confirmPassword.errors
                        .minlength
                    "
                  >
                    This field must not be less than 6 characters!
                  </p>
                </div>
                <div
                  *ngIf="
                    (changePasswordForm.controls.confirmPassword.touched ||
                      changePasswordForm.controls.confirmPassword.dirty) &&
                    changePasswordForm.errors?.noMatch && confirmPasswordFocus
                  "
                  class="input-errors"
                >
                  <p>This password doesn't match The Previous!</p>
                </div>
              </div>
              <div class="form-actions" (mouseenter)="confirmPasswordFocus = true">
                <button
                  type="submit"
                  class="btn btn-block"
                  role="button"
                  [disabled]="changePasswordForm.invalid"
                >
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <a [routerLink]="['/auth', 'login']" class="have-account">
          <small>Sign In?</small>
        </a>
      </div>
    </div>
  </div>
</div>
