.trial-btn{
  display: none;
}

.main-content {
  .form-row {
    justify-content: center;
    align-items: center;

    .card {
      margin-bottom: 10px;
    }

    .input-group {
      position: relative;

      input {
        padding-right: 35px;
      }

      .input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #6350e0;
        z-index: 999;
        cursor: pointer;

        &.visible {
          color: #23d8d2;
        }

        &.disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
    }

    .form-actions {
      button {
        color: #fff;
        background-color: #291f6c;
        border-radius: 25px;
      }
    }

    .have-account {
      color: #fff;
    }
  }
}
