<form [formGroup]="userForm" (ngSubmit)="addPatientVisit()">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div *ngIf="!data">
        <a class="back-btn d-inline-block mb-4" [routerLink]="['']">
          <i class="fa fa-arrow-left"></i>
          Back to Home
        </a>
      </div >
        <div class="table-title mb-1" *ngIf="!data">
          <h3 class="title mb-0">Add a Patient Visit</h3>
        </div>
        <div class="table-title mb-1" *ngIf="data&&type==='edit'">
          <h3 class="title mb-0">Edit Visit</h3>
        </div>
        <div class="table-title mb-1" *ngIf="data &&type==='revisit'">
          <h3 class="title mb-0">Revisit</h3>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Patient Information</h4>
        </div>
        <div class="container">
          <span>
            <p>patient name</p>
            <ng-container *ngIf="patientName !== ''">
              {{ patientName }}
            </ng-container>
            <ng-container *ngIf="data ">
              {{ data?.patientName }}
            </ng-container>

            <div #nameInput *ngIf="!patientName&&!data" >
              <input
                type="text"
                class="form-control"
                style="width: 25vw"
                placeholder="Enter patient name"
                id="fullName"
                name="fullName"
                formControlName="fullName"
                (change)="inputChange()"
                [class.is-invalid]="
                  userForm.get('fullName').invalid &&
                  userForm.get('fullName').touched
                "
              />
              <div
                *ngIf="
                  userForm.get('fullName').invalid &&
                  userForm.get('fullName').touched
                "
                class="invalid-feedback"
              >
                Please enter a valid patient name.
              </div>
            </div>
          </span>
          <span>
            <p>Phone Number</p>
            <ng-container *ngIf="phone;">
              {{ phone }}
            </ng-container>
            <ng-container *ngIf="data;">
              {{ data?.patientPhone }}
            </ng-container>
            <!-- <ng-template #phoneInput *ngIf="patientName == ''&&!data "> -->
              <div *ngIf="!patientName&&!data">
              <input
                type="text"
                class="form-control"
                style="width: 25vw"
                placeholder="Enter phone number"
                formControlName="phone"
                id="phone"
                name="phone"
                [class.is-invalid]="
                  userForm.get('phone').invalid && userForm.get('phone').touched
                "
              />
              <div
                *ngIf="
                  userForm.get('phone').invalid && userForm.get('phone').touched
                "
                class="invalid-feedback"
              >
                Please enter a valid phone number.
              </div>
            </div>
            <!-- </ng-template> -->
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Visit Information</h4>
        </div>
        <div class="container">
          <span>
            <p>visit type</p>
            <!-- <ng-container *ngIf="type=='edit';">
              {{ data?.visitType }}
            </ng-container> -->
            <p-dropdown

              [options]="visitType"
              formControlName="selectedType"
              id="visitType"
              name="visitType"
              optionLabel="label"
              trigger="icon"
              icon="fa fa-angle-down"
              [(ngModel)]="selectedType"
            >
              <ng-template let-option pTemplate="selectedItem">
                {{ option.label }} <i class="fa fa-angle-down"></i>
              </ng-template>
            </p-dropdown>
          </span>

          <span>
            <p>visit date</p>
            <!-- <div class="calendar-input">
              <p-calendar formControlName="date" ></p-calendar>
              <i class="fa-solid fa-calendar-days">c</i>
            </div> -->
            <p-calendar
              formControlName="date"
              [showIcon]="true"
              icon="fa fa-calendar"
              aria-label="Date"
              date-format=" M/d/yy"
              [showTime]="true"
              placeholder="select date"
              [class.is-invalid]="
                userForm.get('date').invalid && userForm.get('date').touched
              "
            >
            </p-calendar>
            <div
              *ngIf="
                userForm.get('date').invalid && userForm.get('date').touched
              "
              class="invalid-feedback"
            >
              Please enter a valid date.
            </div>
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Insurance Information</h4>
        </div>
        <div class="container">
          <span>
            <p>Patient type</p>
            <button
              class="btn"
              [class.btn-primary]="userForm.get('isPatientInsured').value"
              [class.btn-outline-primary]="
                !userForm.get('isPatientInsured').value
              "
              (click)="updatePatientType(true, $event)"
            >
              insured
            </button>
            <button
              class="btn"
              [class.btn-primary]="!userForm.get('isPatientInsured').value"
              [class.btn-outline-primary]="
                userForm.get('isPatientInsured').value
              "
              (click)="updatePatientType(false, $event)"
            >
              uninsured
            </button>
          </span>
        </div>
        <hr />
        <div class="table-title mb-1">
          <h4 class="title mb-0">Amount Details</h4>
        </div>
        <div class="container">
          <span>
            <p>Money recieved</p>
            <input
              type="text"
              class="form-control"
              style="width: 25vw"
              placeholder="ex:100 le"
              id="moneyReceived"
              name="moneyReceived"
              formControlName="moneyReceived"
              [class.is-invalid]="
                userForm.get('moneyReceived').invalid &&
                userForm.get('moneyReceived').touched
              "
            />
            <div
              *ngIf="
                userForm.get('moneyReceived').invalid &&
                userForm.get('moneyReceived').touched
              "
              class="invalid-feedback"
            >
              Please enter a valid amount of money.
            </div>
          </span>
          <span>
            <p>Discount applied</p>
            <button
              class="btn btn-primary"
              [class.btn-primary]="userForm.get('isDiscountApplied').value"
              [class.btn-outline-primary]="
                !userForm.get('isDiscountApplied').value
              "
              (click)="updateDiscountStatus(true, $event)"
            >
              yes
            </button>
            <button
              class="btn btn-outline-primary"
              [class.btn-primary]="!userForm.get('isDiscountApplied').value"
              [class.btn-outline-primary]="
                userForm.get('isDiscountApplied').value
              "
              (click)="updateDiscountStatus(false, $event)"
            >
              no
            </button>
          </span>
        </div>
        <div class="d-flex " [class]="data ?'justify-content-center': 'justify-content-end' " style="margin: 20px;">
          <a
            class="btn btn-psp-primary btn-new-visit"
            style="background-color: white; color: navy"
          >
            cancel
          </a>
          <button
            type="submit"
            class="btn btn-psp-primary btn-new-visit"
            style="color: white"
          >
            submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
