.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.container p{
    margin-bottom: 0;
    margin-right: 25vw;
}
.custom-dropdown .p-dropdown-trigger {
    position: relative;
  }
  
  .custom-dropdown .p-dropdown-trigger::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 8px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
  }
  .btn-new-visit{
    border-radius: 50px;
    // padding-left: 2rem !important;
    // padding-right: 2rem !important;
    // color: white;
    padding: 0.8rem 2rem !important;
    width: fit-content;
  }
  .calendar-input {
    position: relative;
    max-width: fit-content;
  }
  
  .calendar-input i.fa-calendar-days {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
  }
  .con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }