<div class="container-fluid">
  <div class="card mb-4">
    <div class="row align-items-center pt-3">
      <div class="col-lg-6 col-7">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-3">
          <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item text-primary psp-breadcrumb">
              <a class="text-gray"> Patients </a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="border-bottom title d-flex p-3 align-items-center mt-2">
      <h2 class="m-0">My Patients </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a class="back-btn d-inline-block mb-4" [routerLink]="['']">
        <i class="fa fa-arrow-left"></i>
        Back to Home
      </a>
      <div class="table-title mb-1">
        <h3 class="title mb-0">My Patient List</h3>
        <search placeholder="Patient name or mobile number" (search)="searchPatient($event)"></search>
      </div>
      <ngx-datatable class="material ngx-datatable-custom mt-3"
        [rows]="patientListItems" [columns]="columns" [limit]="pageSize" [offset]="currentPage-1"
        columnMode="force" externalPaging="true" [count]="totalItems" [messages]="messages"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" (page)="onChangePage($event)">
        <ng-template let-row="row" #ehrButtonTemplateRef ngx-datatable-row-detail-template>
          <button class="btn btn-primary btn-sm" (click)="onPatientClick(row)">View EHR</button>
        </ng-template>
      </ngx-datatable>
    </div>
  </div>
</div>
