<div class="forgot-password-modal">
  <div class="modal-header">
    <h6 class="modal-title">Recover Password</h6>
    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <form
      *ngIf="!isVerifyEmail"
      #verifyEmailForm="ngForm"
      (ngSubmit)="onRecoverPasswordSubmit()"
    >
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="form-control-label" for="email"> Your Email </label>
            <input
              email
              id="email"
              name="email"
              type="email"
              #email="ngModel"
              [(ngModel)]="doctorEmail"
              class="form-control"
              placeholder="Type Your Email"
              required
            />
            <div
              *ngIf="(email.touched || email.dirty) && email.invalid"
              class="input-errors"
            >
              <p>This field is required & must be a valid email!</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            class="btn btn-block btn-primary"
            type="submit"
            [disabled]="verifyEmailForm.invalid"
          >
            Email Me With a Recovery OTP
          </button>
        </div>
      </div>
    </form>
    <form
      *ngIf="isVerifyEmail"
      #verifyOtpForm="ngForm"
      (ngSubmit)="onVerifyOtpSubmit()"
    >
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="form-control-label" for="otp"> OTP </label>
            <input
              id="otp"
              name="otp"
              type="otp"
              #otp="ngModel"
              [(ngModel)]="doctorOtp"
              class="form-control"
              placeholder="Type The Sent OTP"
              required
            />
            <div
              *ngIf="(otp.touched || otp.dirty) && otp.invalid"
              class="input-errors"
            >
              <p>This field is required!</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            class="btn btn-block btn-primary"
            type="submit"
            [disabled]="verifyOtpForm.invalid"
          >
            Verify The OTP
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
